@font-face {
   font-family: 'DB Helvethaica X 55';
   src: url('../font/DBHelvethaicaX-55Regular.woff2') format('woff2'),
       url('../font/DBHelvethaicaX-55Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
