/*
====================================
Medium Screen - Others
====================================
*/

@media screen and (min-width: 1500px) and (max-width: 1800px) { 
.pnati {
    width: 185px;
    padding: 5px;
    left: -103px;
    top: -200px;
}

.pnati h5 {
   font-size: 20px;
}

.pnati-one ul li {
    font-size: 15px;
}
}

@media screen and (min-width: 1350px) and (max-width: 1500px) {

   .header-left ul li a , .header-right-left ul li a {
      font-size: 24px;
      padding-right: 5px;
   }

   .mega-one-heading p {
      margin-bottom: 0;
      font-size: 14px;
   }

   .mega-one-wrapper {
      width: 900px;
   }

   .product-left {
      padding-right: 0;
  }

  .product-wrapper {
   background-color: #fff;
   padding: 20px;
}

.product-table tr td span {
   font-size: 16px;
}

.product-table tr td p {
   font-size: 14px;
}

.product-table tr td.middle-text {
   padding-right: 35px;
}

.ring-wrapper .col {
   max-width: 25%;
   flex: 25%;
}

.join-right {
   padding: 30px 0px;
}

.joinslider .owl-dots {
   bottom: 10px;
}

.join-nav {
   left: 0;
   width: 100%;
}

.news-left p {
   font-size: 16px;
}

.social-icon ul li a {
   margin: 0px 15px;
}

.tsize {
   top: 55%;
}

.ring-price-left h4 {
   font-size: 30px;
   position: relative;
   top: -12px;
}

.ring-price-right ul li a {
    padding-left: 10px;
}

.p2main-right-block-one-content, .p2main-right-block-one-thumb-img-chg {
    padding: 0px 10px;
}

.ring-price-left p {
    font-size: 15px;
}

.ring-price-left p span#less {
   font-size: 15px;
}

.ring-price-right p {
   top: 2px;
}

.pnati {
    width: 185px;
    padding: 5px;
    left: -103px;
    top: -200px;
}

.pnati h5 {
   font-size: 20px;
}

.pnati-one ul li {
    font-size: 15px;
}

.p4tab-content-three-content .pnati {
    left: inherit;
    top: -62px;
    right: 0;
}

}


@media screen and (min-width: 1200px) and (max-width: 1350px) {

   .header-left ul li a , .header-right-left ul li a {
      font-size: 22px;
      padding-right: 5px;
   }

   .mega-one-heading p {
      margin-bottom: 0;
      font-size: 14px;
   }

   .mega-one-wrapper {
      width: 900px;
   }

   .product-left {
      padding-right: 0;
  }

  .product-wrapper {
   background-color: #fff;
   padding: 20px;
}

.product-table tr td span {
   font-size: 16px;
}

.product-table tr td p {
   font-size: 14px;
}

.product-table tr td.middle-text {
   padding-right: 35px;
}

.ring-wrapper .col {
   max-width: 33.333%;
   flex: 33.333%;
}

.join-right {
   padding: 30px 0px;
}

.joinslider .owl-dots {
   bottom: 10px;
}

.join-nav {
   left: 0;
   width: 100%;
}

.news-left p {
   font-size: 16px;
}

.social-icon ul li a {
   margin: 0px 15px;
}

.tsize {
   top: 58%;
}

.mini-cart::after {
   right: 15px;
}

.p2main-right-block .col-6 {
   padding-left: 5px;
   padding-right: 5px;
}

.ring-price-left h4 {
   font-size: 30px;
   position: relative;
   top: -12px;
}

.ring-price-right ul li a {
    padding-left: 10px;
}

.p2main-right-block-one-content, .p2main-right-block-one-thumb-img-chg {
    padding: 0px 10px;
}

.ring-price-left p {
    font-size: 15px;
}

.ring-price-left p span#less {
   font-size: 15px;
}

.ring-price-right p {
   top: 2px;
}

.pnati {
    width: 185px;
    padding: 5px;
    left: -103px;
    top: -200px;
}

.pnati h5 {
   font-size: 20px;
}

.pnati-one ul li {
    font-size: 15px;
}

.p4total-left p {
    margin-bottom: 0;
    font-size: 24px;
}

.p4tab-content-three-content .pnati {
    left: inherit;
    top: -62px;
    right: 0;
}

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

   .header-left ul li a , .header-right-left ul li a {
      font-size: 17px;
      padding-right: 5px;
   }

   .mega-one-heading p {
      margin-bottom: 0;
      font-size: 14px;
   }

   .mega-one-wrapper {
      width: 900px;
   }

   .product-left {
      padding-right: 0;
  }

  .product-wrapper {
   background-color: #fff;
   padding: 20px;
}

.product-table tr td span {
   font-size: 16px;
}

.product-table tr td p {
   font-size: 14px;
}

.product-table tr td.middle-text {
   padding-right: 35px;
}

.ring-wrapper .col {
   max-width: 33.333%;
   flex: 33.333%;
}

.join-right {
   padding: 30px 0px;
}

.joinslider .owl-dots {
   bottom: 10px;
}

.join-nav {
   left: 0;
   width: 100%;
}

.news-left p {
   font-size: 16px;
}

.social-icon ul li a {
   margin: 0px 15px;
}

.tsize {
   left: 21px;
   top: 55%;
}

.p2gold-list-wrapper ul li {
    font-size: 20px;
    margin: 0px 15px;
}

.p2top-drop-middle p {
    margin-bottom: 0;
    font-size: 20px;
}

.p2top-drop-right select {
    width: 100%;
}

.p2main-wrapper #p2main-left-part {
    max-width: 25%;
    flex: 0 0 25%;
}

.p2main-wrapper #p2main-right-part {
    max-width: 75%;
    flex: 0 0 75%;
}

.p2main-right-block .col-6 {
   flex: 50%;
   max-width: 50%;
}

.p2main-left-content-one {
   padding-left: 0;
   padding-right: 0px;
}

.pnati {
   width: 224px;
   left: -128px;
   top: -215px;
}

.pnati-one ul li {
    font-size: 16px;
}

.mini-cart::after {
   right: 15px;
}

.p3product-left-small {
   width: 72px;
}

.p3prodet-wrapper {
   padding: 20px 35px;
}

.p3prodet-right {
   padding-right: 40px;
}

.p9upload_form {
   padding-left: 15px;
   padding-right: 15px;
}

.p9upload-form-right-one, .p9upload-form-right-two {
    width: 48%;
}

.p4tab-content-two {
    margin-bottom: 10px;
}

.p4tab-content-three-content .pnati {
    left: inherit;
    top: -74px;
    right: 0;
}

.p4tabtwo .p6accdbmin-height {
    margin-top: 15px;
} 

.p4tabtwo .p4tab-content-three {
   margin-top: 15px;
}





























}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

   .cart , .login , .mini-cart {
      box-shadow: none;
      width: 100%;
      max-width: 100%;
   }
   
   .display {
      display: block;
   }
   
   .alert-wrapper p {
      font-size: 13px;
   }
   
   .alertspg {
      padding: 10px 0px;
   }
   
   .hero .container {
      padding-left: 0;
      padding-right: 0;
   }
   
   .hero-content-left {
      max-width: 100%;
   }
   
   .hero-content-left h3 {
      font-size: 35px;
   }
   
   .hero-content-left h4 {
      font-size: 20px;
   }
   
   .hero-content-left {
      padding-left: 70px;
   }
   
   .hero-slider-nav span img {
      width: 50px;
   }
   
   .hero-slider-nav {
      padding: 0px 0px;
      top: 32%;
   }
   
   .hero-content {
      background-size: 100% 100%;
      padding: 70px 0px;
   }
   
   .product-left {
      display: none;
   }
   
   .product-wrapper {
      padding: 5px 20px;
   }
   
   .product-wrapper .col-3 {
      padding-left: 5px;
      padding-right: 5px;
   }
   
   .primg p {
      font-size: 12px;
   }
   
   .primg {
      margin-bottom: 15px;
   }
   
   .ring-wrapper .col {
      max-width: 50%;
      flex: 50%;

   }
   
   .ring-content {
      padding: 15px;
   } 
   
   .ring-content-heading h5 {
      font-size: 17px;
   }
   
   .ring-content-heading span {
      display: inline-block;
      font-size: 13px;
   }
   
   .ring-price-left h4 {
      font-size: 41px;
   }
   
   .ring-price-left p {
      font-size: 22px;
   }
   
   .ring-price-left p span#less {
      font-size: 24px;
   }
   
   .ring-price-right ul li a {
      font-size: 16px;
   }
   
   .pop-cnt p {
      font-size: 24px;
      padding: 5px 0px;
      position: absolute;
      left: 3px;
      bottom: 6px;
      width: 97%;
   }
   
   .ring-thumb span {
      font-size: 9px;
      border-radius: 8px;
      padding: 2px 10px;
      top: -9px;
      position: absolute;
      right: 10px;
   }
   
   .shepa-nav {
      top: 36%;
   }
   
   .pnati {
      padding: 5px;
      width: 230px;
      left: -125px;
   }
   
   .pnati h5 {
      font-size: 26px;
   }
   
   .pnati-one ul li {
      margin: 4px 0px;
      font-size: 21px;
   }
   
   .pnati-total p {
      font-size: 13px;
   }
   
   .pop-cnt ul {
      left: 5px;
      bottom: 6px;
      padding: 0px 10px;
   }
   
   .pop-cnt ul li {
      font-size: 12px;
   }
   
   .pop-cnt ul li img {
      width: 7px;
   }
   
   .join-right {
      margin-left: 0;
      padding: 25px 0px;
   }
   
   .join-right h4 {
      font-size: 20px;
   }
   
   .join-right p {
      font-size: 12px;
   }
   
   .join-right a {
      font-size: 12px;
      padding: 7px 25px;
      margin-top: 10px;
   }
   
   .join-nav img {
      width: 28px;
   }
   
   .join-nav {
      width: 100%;
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      bottom: 67%;
   }
   
   .ring-heading h3 {
      font-size: 20px;
   }
   
   .ring-one {
      margin-top: 25px;
   }
   
   .ring {
      padding: 20px 0px;
   }
   
   .joinslider .owl-dots {
      position: inherit;
      right: inherit;
      bottom: inherit;
   }
   
   .jblock-wrapper {
      padding: 25px 75px;
   }
   
   .jblock-one {
      width: 125px;
      height: 125px;
   }
   
   .jblock-one-img img {
      display: inline-block;
      width: 18px;
      margin-bottom: 0;
   }
   
   .jblock-one-img p {
      margin-bottom: 0;
      font-size: 18px;
      margin-top: 8px;
   }
   
   .news-left p {
      font-size: 20px;
      margin-bottom: 10px;
      text-align: center;
   }
   
   .footer-left {
      margin-left: 0px;
   }
   
   .footer-link-wrapper {
      display: block;
   }
   
   .footer-link-two {
      margin-left: 0px;
   }
   
   .footer-left {
      text-align: center;
   }
   
   .social-icon ul li a {
      font-size: 32px;
      margin: 0px 20px;
   }
   
   .social-logo {
      margin-top: 35px;
   }
   
   .social-logo p {
      font-size: 10px;
      margin-top: 2px;
   }
   
   .footer {
      padding: 0px 0px;
   }
   
   .search-wrapper {
      padding: 10px 0px;
   }
   
   .cart-input {
      padding: 15px 20px;
   }
   
   .cart-input-button button {
      padding: 13px 15px;
      float: right;
   }
   
   .cart-input-button input {
      width: 184px;
   }
   
   .mini-cart::after {
      right: 15px;
   }

   .tsize {
      left: 21px;
      top: 58%;
      width: 87%;
  }


.p2gold-list {
   display: none;
}

.p2bannar-wrapper {
    background-position: top 0px left 0px;
    background-size: 100% 100%;
    padding: 52px 20px;
}

.p2bannar .container {
   padding-left: 0;
   padding-right: 0;
}

#p2main-left-part {
   display: none;
}

.p2main-wrapper #p2main-right-part {
   max-width: 100%;
   flex: 100%;
}

.p2main-right-block .col-6 {
   padding-left: 15px;
   padding-right: 15px;
}

.p2main-right-block-one-thumb p#addtoCart {
    margin-bottom: 0;
    font-size: 18px;
}

.p2main-hover-left p {
   font-size: 18px;
}

.babu ul li a {
   font-size: 18px;
}

.p2main-hover {
   padding-left: 5px;
   padding-right: 5px;
}

.p2main-hover-right button img {
    display: inline-block;
    width: 6px;
}

.p2main-hover-right button {
   top: 0px!important;
}

.p2main-right-block-one-content, .p2main-right-block-one-thumb-img-chg {
   padding: 0px 5px;
}

.carousel-control-next-icon {
   width: 11px;
   margin-right: -40px;
   height: 20px;
}

.carousel-control-prev-icon {
   width: 11px;
   margin-left: -40px;
   height: 20px;
}

.catafil-pagi ul li a {
   padding: 5px 9px;
}

.p2bottom-slider {
   margin-top: 26px;
}

.p2bottom-slider-heading h4 {
    font-size: 30px;
    margin-bottom: 8px;
}

.ring-price-left p span#pop {
    font-size: 24px;
}

.ring-price-right p {
    margin-bottom: 0;
    font-size: 16px;
}

.p3prodet-wrapper {
   padding: 20px 15px;
}

.p3prodet-left {
    padding-right: 0px;
}

.p3prodet-right {
   padding-right: 35px;
}

.p6accdbmain-wrapper .col-lg-3 {
   max-width: 30%;
   flex: 30%;
}

.p6accdbmain-wrapper .col-lg-9 {
   max-width: 70%;
   flex: 70%;
}

.p6accblank {
   height: 400px;
}

.p9upload_form {
   padding-left: 15px;
   padding-right: 15px;
}

.p9form-wrapper {
   display: block;
}

.p9upload-form-right-one, .p9upload-form-right-two {
    width: 100%;
}

.p10right-block .col-lg-3 {
    max-width: 50%;
    flex: 50%;
}

.p10right-block .ring-price-left p {
    font-size: 16px;
}

.p10right-block .ring-price-left p span#less {
    font-size: 16px;
}

.p10right-block .ring-price-left p span#pop {
    font-size: 16px;
}

.p10right-block .ring-price-right p {
    top: 5px;
    position: relative;
}

.p10right-block .carousel-control-prev-icon {
    margin-left: -25px;
}

.p10right-block .carousel-control-next-icon {
    margin-right: -25px;
}

.p4tab-content-two {
    margin-bottom: 10px;
}

.p4tab-content-three-content .pnati {
    left: inherit;
    top: -60px;
    right: 0;
}

.p4tabtwo .p6accdbmin-height {
    margin-top: 15px;
} 

.p4tabtwo .p4tab-content-three {
   margin-top: 15px;
}

.p6accdbmain-left ul {
   display: block;
}
























}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {	

   .cart , .login , .mini-cart {
      max-width: 100%;
      box-shadow: none;
      width: 100%;
   }
   
   .display {
      display: block;
   }
   
   .alert-wrapper p {
      font-size: 13px;
   }
   
   .alertspg {
      padding: 10px 0px;
   }
   
   .hero .container {
      padding-left: 0;
      padding-right: 0;
   }
   
   .hero-content-left {
      max-width: 100%;
   }
   
   .hero-content-left h3 {
      font-size: 35px;
   }
   
   .hero-content-left h4 {
      font-size: 20px;
   }
   
   .hero-content-left {
      padding-left: 70px;
   }
   
   .hero-slider-nav span img {
      width: 50px;
   }
   
   .hero-slider-nav {
      padding: 0px 0px;
      top: 32%;
   }
   
   .hero-content {
      background-size: 100% 100%;
      padding: 70px 0px;
   }
   
   .product-left {
      display: none;
   }
   
   .product-wrapper {
      padding: 5px 20px;
   }
   
   .product-wrapper .col-3 {
      padding-left: 5px;
      padding-right: 5px;
   }
   
   .primg p {
      font-size: 12px;
   }
   
   .primg {
      margin-bottom: 15px;
   }
   
   .ring-wrapper .col {
      max-width: 50%;
      flex: 50%;
      padding-left: 5px;
      padding-right: 5px;
   }
   
   .ring-content {
      padding: 5px;
   } 
   
   .ring-content-heading h5 {
      font-size: 13px;
   }
   
   .ring-content-heading span {
      display: inline-block;
      font-size: 13px;
   }
   
   .ring-price-left h4 {
      font-size: 38px;
   }
   
   .ring-price-left p {
      font-size: 20px;
   }
   
   .ring-price-left p span#less {
      font-size: 20px;
   }
   
   .ring-price-right ul li a {
      font-size: 16px;
   }
   
   .pop-cnt p {
      font-size: 20px;
      padding: 5px 0px;
      position: absolute;
      left: 3px;
      bottom: 6px;
      width: 97%;
   }
   
   .ring-thumb span {
      font-size: 9px;
      border-radius: 8px;
      padding: 2px 10px;
      top: -9px;
      position: absolute;
      right: 10px;
   }
   
   .shepa-nav {
      top: 30%;
   }
   
   .pnati {
      padding: 5px;
      width: 210px;
      left: -131px;
   }
   
   .pnati h5 {
      font-size: 22px;
   }
   
   .pnati-one ul li {
      margin: 4px 0px;
      font-size: 18px;
   }
   
   .pnati-total p {
      font-size: 20px;
      padding: 10px 10px;
   }
   
   .pop-cnt ul {
      left: 5px;
      bottom: 6px;
      padding: 0px 10px;
   }
   
   .pop-cnt ul li {
      font-size: 12px;
   }
   
   .pop-cnt ul li img {
      width: 7px;
   }
   
   .join-right {
      margin-left: 0;
      padding: 25px 0px;
   }
   
   .join-right h4 {
      font-size: 20px;
   }
   
   .join-right p {
      font-size: 12px;
   }
   
   .join-right a {
      font-size: 12px;
      padding: 7px 25px;
      margin-top: 10px;
   }
   
   .join-nav img {
      width: 28px;
   }
   
   .join-nav {
      width: 100%;
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      bottom: 67%;
   }
   
   .ring-heading h3 {
      font-size: 20px;
   }
   
   .ring-one {
      margin-top: 25px;
   }
   
   .ring {
      padding: 20px 0px;
   }
   
   .joinslider .owl-dots {
      position: inherit;
      right: inherit;
      bottom: inherit;
   }
   
   .jblock-wrapper {
      padding: 25px 0;
   }
   
   .jblock-one {
      width: 110px;
      height: 110px;
   }
   
   .jblock-one-img img {
      display: inline-block;
      width: 18px;
      margin-bottom: 0;
   }
   
   .jblock-one-img p {
      margin-bottom: 0;
      font-size: 18px;
   }
   
   .news-left p {
      font-size: 13px;
      margin-bottom: 10px;
      text-align: center;
   }
   
   .footer-left {
      margin-left: 0px;
   }
   
   .footer-link-wrapper {
      display: block;
   }
   
   .footer-link-two {
      margin-left: 0px;
   }
   
   .footer-left {
      text-align: center;
   }
   
   .social-icon ul li a {
      font-size: 32px;
      margin: 0px 20px;
   }
   
   .social-logo {
      margin-top: 35px;
   }
   
   .social-logo p {
      font-size: 10px;
      margin-top: 2px;
   }
   
   .footer {
      padding: 0px 0px;
   }
   
   .search-wrapper {
      padding: 10px 0px;
   }
   
   .cart-input {
      padding: 15px 20px;
   }
   
   .cart-input-button button {
      padding: 13px 15px;
      float: right;
   }
   
   .cart-input-button input {
      width: 184px;
   }
   
   .mini-cart::after {
      right: 15px;
   }

   .ring-price-right img {
      display: inline-block;
      width: 15px;
   }
   
   .ring-price-right p img {
      width: 10px;
   }
   
   .ring-price-left p span#pop {
      font-size: 20px;
   }
   
   .ring-price-right p {
      margin-top: -10px;
      cursor: pointer;
      position: relative;
      top: 6px;
   }

.p2gold-list {
   display: none;
}

.p2bannar-wrapper {
    background-position: top 0px left 0px;
    background-size: 100% 100%;
    padding: 52px 20px;
}

.p2bannar .container {
   padding-left: 0;
   padding-right: 0;
}

#p2main-left-part {
   display: none;
}

.p2main-wrapper #p2main-right-part {
   max-width: 100%;
   flex: 100%;
}

.p2main-right-block .col-6 {
   padding-left: 5px;
   padding-right: 5px;
}

.p2main-right-block-one-thumb p#addtoCart {
    margin-bottom: 0;
    font-size: 18px;
}

.p2main-hover-left p {
   font-size: 18px;
}

.babu ul li a {
   font-size: 18px;
}

.p2main-hover {
   padding-left: 5px;
   padding-right: 5px;
}

.p2main-hover-right button img {
    display: inline-block;
    width: 6px;
}

.p2main-hover-right button {
   top: 0px!important;
}

.p2main-right-block-one-content, .p2main-right-block-one-thumb-img-chg {
   padding: 0px 5px;
}

.carousel-control-next-icon {
   width: 6px;
   margin-right: -20px;
   height: 12px;
}

.carousel-control-prev-icon {
   width: 6px;
   margin-left: -20px;
   height: 12px;
}

.catafil-pagi ul li a {
   padding: 5px 9px;
}

.p2bottom-slider {
   margin-top: 26px;
}

.p2bottom-slider-heading h4 {
    font-size: 30px;
    margin-bottom: 8px;
}

.ring-price-right ul {
   position: relative;
   top: -13px;
}

.p2top-drop-left h3 {
    font-size: 28px; 
}

.p2top-drop-left ul li a {
    font-size: 15px;
}

.p2top-drop-left ul li span {
    margin: 0px 4px;
}

.p3product-left {
   flex-direction: column-reverse;
}

.p3product-left-big {
   width: 100%;
}

.p3product-left-small ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 15px;
}

.p3product-left-small ul li {
   margin: 0px 5px;
}

.p3product-left-small {
   width: 100%;
   margin-right: 0;
}

.p3product-right {
   padding-left: 0;
   margin-top: 40px;
}

.p3product-right-details-heading h4 {
    font-size: 40px;
}

#p3ringprce h4 {
   font-size: 35px;
}

#p3ringprce p , #p3ringprce p span#less ,#p3ringprce p span#pop {
   font-size: 18px;
}

.p3prodet-wrapper {
   padding: 15px;
}

.p3prodet-left {
    padding-right: 0px;
} 

.p3prodet-right {
   padding-left: 0;
   padding-right: 0;
   margin-top: 20px;
}

.p3proslider-wrapper {
   padding-left: 40px;
   padding-right: 40px;
}

.p6accdbmain-wrapper .col-lg-3 {
   max-width: 100%;
   flex: 100%;
}

.p6accdbmain-left {
    margin-right:0px;
}

.p6accdbmain-wrapper .col-lg-9 {
   max-width: 100%;
   flex: 100%;
}

.p6accblank {
   height: 300px;
}

.p8account_pass_wrapper {
   max-width: 100%;
}

.p9upload_form {
   padding-left: 15px;
   padding-right: 15px;
}

.p9form-wrapper {
   display: block;
}

.p9upload-form-right-one, .p9upload-form-right-two {
    width: 100%;
}

.p10right-block .col-lg-3 {
    max-width: 50%;
    flex: 50%;
}

.p4tab .p6acctab ul li a.nav-link {
    padding: 0px 15px;
    font-size: 20px;
}

.p4tab-content-one ,
.p4tab-content-two {
   height: inherit;
   margin-bottom: 25px;
}

.p4tab-content-three-content .pnati {
    top: -84px;
    right: 2px;
    left: inherit;
}

.p4tabtwo .p6accdbmin-height {
    margin-top: 15px;
} 

.p4tabtwo .p4tab-content-three {
   margin-top: 15px;
}

.p6accdbmain-left ul {
   display: none;
   margin: 0;
}
























}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {

.cart , .login , .mini-cart {
   max-width: 100%;
   box-shadow: none;
   width: 100%;
}

.display {
   display: block;
}

.alert-wrapper p {
   font-size: 13px;
}

.alertspg {
   padding: 10px 0px;
}

.hero .container {
   padding-left: 0;
   padding-right: 0;
}

.hero-content-left {
   max-width: 100%;
}

.hero-content-left h3 {
   font-size: 35px;
}

.hero-content-left h4 {
   font-size: 20px;
}

.hero-content-left {
   padding-left: 70px;
}

.hero-slider-nav span img {
   width: 50px;
}

.hero-slider-nav {
   padding: 0px 0px;
   top: 32%;
}

.hero-content {
   background-size: 100% 100%;
   padding: 70px 0px;
}

.product-left {
   display: none;
}

.product-wrapper {
   padding: 5px 20px;
}

.product-wrapper .col-3 {
   padding-left: 5px;
   padding-right: 5px;
}

.primg p {
   font-size: 12px;
}

.primg {
   margin-bottom: 15px;
}

.ring-wrapper .col {
   max-width: 50%;
   flex: 50%;
   padding-left: 5px;
   padding-right: 5px;
}

.ring-content {
   padding: 5px;
} 

.ring-content-heading h5 {
   font-size: 13px;
}

.ring-content-heading span {
   display: inline-block;
   font-size: 13px;
}

.ring-price-left h4 {
   font-size: 16px;
   line-height: 1.5;
   position: relative;
   top: -8px;
}

.ring-price-left p {
   font-size: 10px;
}

.ring-price-left p span#less {
   font-size: 10px;
}

.ring-price-right ul li a {
   font-size: 16px;
   padding-left: 5px;
}

.pop-cnt p {
   font-size: 12px;
   padding: 5px 0px;
   position: absolute;
   left: 3px;
   bottom: 6px;
   width: 97%;
}

.ring-thumb span {
   font-size: 9px;
   border-radius: 8px;
   padding: 2px 10px;
   top: -9px;
   position: absolute;
   right: 10px;
}

.shepa-nav {
   top: 10%;
}

.pnati {
   padding: 5px;
   width: 162px;
   top: -170px;
}

.pnati h5 {
   font-size: 16px;
}

.pnati-one ul li {
   margin: 4px 0px;
   font-size: 13px;
}

.pnati-total p {
   font-size: 13px;
}

.pop-cnt ul {
   left: 5px;
   bottom: 6px;
   padding: 0px 10px;
}

.pop-cnt ul li {
   font-size: 12px;
}

.pop-cnt ul li img {
   width: 7px;
}

.join-right {
   margin-left: 0;
   padding: 25px 0px;
}

.join-right h4 {
   font-size: 20px;
}

.join-right p {
   font-size: 12px;
}

.join-right a {
   font-size: 12px;
   padding: 7px 25px;
   margin-top: 10px;
}

.join-nav img {
   width: 28px;
}

.join-nav {
   width: 100%;
   left: 0;
   padding-left: 15px;
   padding-right: 15px;
   bottom: 67%;
}

.ring-heading h3 {
   font-size: 20px;
}

.ring-one {
   margin-top: 25px;
}

.ring {
   padding: 20px 0px;
}

.joinslider .owl-dots {
   position: inherit;
   right: inherit;
   bottom: inherit;
}

.jblock-wrapper {
   padding: 25px 0;
}

.jblock-one {
   width: 80px;
   height: 80px;
}

.jblock-one-img img {
   display: inline-block;
   width: 18px;
   margin-bottom: 0;
}

.jblock-one-img p {
   margin-bottom: 0;
   font-size: 9px;
}

.news-left p {
   font-size: 13px;
   margin-bottom: 10px;
   text-align: center;
}

.footer-left {
   margin-left: 0px;
}

.footer-link-wrapper {
   display: block;
}

.footer-link-two {
   margin-left: 0px;
}

.footer-left {
   text-align: center;
}

.social-icon ul li a {
   font-size: 32px;
   margin: 0px 20px;
}

.social-logo {
   margin-top: 35px;
}

.social-logo p {
   font-size: 10px;
   margin-top: 2px;
}

.footer {
   padding: 0px 0px;
}

.search-wrapper {
   padding: 10px 0px;
}

.cart-input {
   padding: 15px 20px;
}

.cart-input-button button {
   padding: 13px 15px;
   float: right;
}

.cart-input-button input {
   width: 184px;
}

.mini-cart::after {
   right: 15px;
}

.ring-price-right img {
   display: inline-block;
   width: 15px;
}

.ring-price-right p img {
   width: 10px;
}

.ring-price-left p span#pop {
   font-size: 11px;
}

.ring-price-right p {
   margin-top: -10px;
   cursor: pointer;
   position: relative;
   top: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 13px;
}

.p2gold-list {
   display: none;
}

.p2bannar-wrapper {
    background-position: top 0px left 0px;
    background-size: 100% 100%;
    padding: 52px 20px;
}

.p2bannar .container {
   padding-left: 0;
   padding-right: 0;
}

#p2main-left-part {
   display: none;
}

.p2main-wrapper #p2main-right-part {
   max-width: 100%;
   flex: 100%;
}

.p2main-right-block .col-6 {
   padding-left: 5px;
   padding-right: 5px;
}

.p2main-right-block-one-thumb p#addtoCart {
    margin-bottom: 0;
    font-size: 18px;
}

.p2main-hover-left p {
   font-size: 18px;
}

.babu ul li a {
   font-size: 18px;
}

.p2main-hover {
   padding-left: 5px;
   padding-right: 5px;
}

.p2main-hover-right button img {
    display: inline-block;
    width: 6px;
}

.p2main-hover-right button {
   top: 0px!important;
}

.p2main-right-block-one-content, .p2main-right-block-one-thumb-img-chg {
   padding: 0px 5px;
}

.carousel-control-next-icon {
   width: 6px;
   margin-right: 0px;
   height: 12px;
}

.carousel-control-prev-icon {
   width: 6px;
   margin-left: 0px;
   height: 12px;
}

.catafil-pagi ul li a {
   padding: 5px 9px;
}

.p2bottom-slider {
   margin-top: 26px;
}

.p2bottom-slider-heading h4 {
    font-size: 30px;
    margin-bottom: 8px;
}

.p2top-drop-left h3 {
    font-size: 28px; 
}

.p2top-drop-left ul li a {
    font-size: 15px;
}

.p2top-drop-left ul li span {
    margin: 0px 4px;
}

.p3product-left {
   flex-direction: column-reverse;
}

.p3product-left-big {
   width: 100%;
}

.p3product-left-small ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 15px;
}

.p3product-left-small ul li {
   margin: 0px 5px;
}

.p3product-left-small {
   width: 100%;
   margin-right: 0;
}

.p3product-right {
   padding-left: 0;
   margin-top: 40px;
}

.p3product-right-details-heading h4 {
    font-size: 40px;
}

#p3ringprce h4 {
   font-size: 35px;
}

#p3ringprce p , #p3ringprce p span#less ,#p3ringprce p span#pop {
   font-size: 18px;
}

.p3prodet-wrapper {
   padding: 15px;
}

.p3prodet-left {
    padding-right: 0px;
} 

.p3prodet-right {
   padding-left: 0;
   padding-right: 0;
   margin-top: 20px;
}

.p3proslider-wrapper {
   padding-left: 40px;
   padding-right: 40px;
}

#header_custormer .dropdown-menu {
    border: 0;
    border-radius: 0;
    box-shadow: -1px 0px 14px -1px rgba(0,0,0,.4);
    top: 4px !important;
    margin-right: -22px;
    left: 1px !important;
    width: 100%;
    padding: 10px;
}

.p6accdbmain-wrapper .col-lg-3 {
   max-width: 100%;
   flex: 100%;
}

.p6accdbmain-left {
    margin-right:0px;
}

.p6accdbmain-wrapper .col-lg-9 {
   max-width: 100%;
   flex: 100%;
}

.p6accblank {
   height: 300px;
}

.p8account_pass_wrapper {
   max-width: 100%;
}

.p6accdbmain-right {
   margin-top: 35px;
}

.p9upload_form {
   padding-left: 15px;
   padding-right: 15px;
}

.p9form-wrapper {
   display: block;
}

.p9upload-form-right-one, .p9upload-form-right-two {
    width: 100%;
}

.p10right-block .col-lg-3 {
    max-width: 50%;
    flex: 50%;
}

.p4tab .p6acctab ul li a.nav-link {
    padding: 0px 15px;
    font-size: 20px;
}

.p4tab-content-one ,
.p4tab-content-two {
   height: inherit;
   margin-bottom: 25px;
}

.p4tab-content-three-content .pnati {
    top: -24px;
    right: 2px;
    left: inherit;
}

.p4tabtwo .p6accdbmin-height {
    margin-top: 15px;
} 

.p4tabtwo .p4tab-content-three {
   margin-top: 15px;
}

.p6accdbmain-left ul {
   display: none;
   margin: 0;
}





































}
